:root {
    --charcoal: hsla(197, 54%, 33%, 1);
    --persian-green: hsla(173, 73%, 62%, 1);
    --orange-yellow-crayola: hsla(43, 55%, 91%, 1);
    --sandy-brown: hsla(27, 60%, 96%, 1);
    --burnt-sienna: hsla(12, 65%, 91%, 1);
    --gray-text: hsla(197,17%,99%,1);
}
html {
    font-family: Roboto, sans-serif;
    background: var(--sandy-brown);
    color: var(--charcoal);
}

body {
    width: 70%;
    margin: 2% 5%;
    font-size: large;
}

header {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}

h2 {
    margin-top: 2em;
}

p, .category {
    line-height: 1.5;
}

a {
    color: var(--persian-green);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.gray { color: #bbb; }

table, td {
    border: 1px solid gray;
}
