---
layout: default
title: teaching
---

<div class="row">
	<div class="column">
		{% for teaching in site.data.teaching %}
			<div>
				<h3>{{teaching.course}}</h3>
				<p>{{teaching.description}}
					{% if teaching.instructor %}<br>Taught alongside {{teaching.instructor}}.{% endif %}
					<br>
					<span style="color: grey;"><small>
						{{teaching.season}}
						{% for year in teaching.years %}
							{{year}}
						{% endfor %}
					</small></span>
				</p>
			</div>
		{% endfor %}
	</div>
	<div class="column">
		<p>
			I'm blessed with teaching funding every quarter. This is a list of my teaching experience.
		</p>
	</div>
</div>