<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>

		{%- include header.html -%}

		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				<div id="about" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeAbout()">&times;</a>
					<p>
						I'm a fourth year PhD candidate at Northwestern University. I like to yell about games and gardening.
					</p>

					<p>
						Interests include debuggability in AI, and anti-stupidity in non-player characters.
					</p>
				</div>

				{{ content }}
			</div>
		</main>

		{%- include footer.html -%}

	</body>
</html>